/* https://github.com/antfu/prism-theme-vars */
@import 'prism-theme-vars/base.css';

.prose {
  --prism-font-family: 'DM Mono', monospace;
}

.prose img {
  width: 100%;
}

html:not(.dark) .prose {
  --prism-foreground: hsl(230, 8%, 24%);
  --prism-background: hsl(230, 1%, 98%);
  --prism-comment: hsl(230, 4%, 64%);
  --prism-string: hsl(119, 34%, 47%);
  --prism-literal: hsl(35, 99%, 36%);
  --prism-keyword: hsl(301, 63%, 40%);
  --prism-function: hsl(221, 87%, 60%);
  --prism-deleted: hsl(5, 74%, 59%);
  --prism-class: hsl(35, 99%, 36%);
  --prism-builtin: hsl(119, 34%, 47%);
  --prism-property: hsl(5, 74%, 59%);
  --prism-namespace: hsla(230, 8%, 24%, 0.8);
  --prism-punctuation: hsl(230, 8%, 24%);
  --prism-decorator: hsl(5, 74%, 59%);
  --prism-regex: hsl(119, 34%, 47%);
  --prism-selection-background: hsl(230, 1%, 90%);
}

html.dark .prose {
  --prism-foreground: hsl(220, 14%, 71%);
  --prism-background: hsl(220, 13%, 18%);
  --prism-comment: hsl(220, 10%, 40%);
  --prism-string: hsl(95, 38%, 62%);
  --prism-literal: hsl(29, 54%, 61%);
  --prism-number: hsl(29, 54%, 61%);  
  --prism-keyword: hsl(286, 60%, 67%);
  --prism-function: hsl(207, 82%, 66%);
  --prism-deleted: hsl(355, 65%, 65%);
  --prism-class: hsl(29, 54%, 61%);
  --prism-builtin: hsl(95, 38%, 62%);
  --prism-property: hsl(220, 14%, 71%);
  --prism-namespace: hsla(220, 14%, 71%, 0.8);
  --prism-punctuation: hsl(220, 14%, 71%);
  --prism-decorator: hsl(355, 65%, 65%);
  --prism-regex: hsl(95, 38%, 62%);
  --prism-selection-background: hsl(220, 13%, 28%);
}
