:root {
  --scrollbar-bg: #eee;
}

.markdown img[src*=yuque] {
  display: block;
  margin: 12px auto;
  max-height:450px;
  max-width: 90%;
  border-radius: 6px;
}

.__dumi-default-menu[data-mode='site'] .__dumi-default-menu-list > li > a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(238, 238, 238, 0.8);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(187, 187, 187, 0.8);
}

